#config-menu {
    display: none;
    position: fixed;
    height: 180px;
    width: 360px;
    bottom: 130px;
    background-color: var(--config-box-color);
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    z-index: 3;
}

#path-config {
    position: absolute;
    height: 120px;
    width: calc(100% - 20px);
    top: 10px;
    left: 10px;
}

#img-size-select {
    width: calc(100% - 110px);
    height: 30px;
    top: 140px;
    left: 10px;
    position: absolute;
}