#filter-menu {
    position: fixed;
    display: none;
    top: 36px;
    width: 150px;
    right: 3px;
    z-index: 3;
    background-color: var(--config-box-color);
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.filter-menu-button {
    width: 100%;
    height: 30px;
    display: block;
    position: relative;
    line-height: 30px;
    background-color: var(--config-box-color);
    border-width: 0.5px;
    border-bottom-style: dashed;
    user-select: none;
}

.filter-menu-button:hover {
    background-color: var(--hover-color);
}

.filter-menu-button:active {
    background-color: var(--active-color);
}

.filter-button-first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.filter-button-last {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-style: none;
}
