.img-div {
    height: 190px;
}

.img-div .img-outer {
    height: 150px;
}

@media (min-width: 450px) {
    .img-div {
        width: 33.33%;
    }
}

@media (min-width: 600px) {
    .img-div {
        width: 25%;
    }
}

@media (min-width: 750px) {
    .img-div {
        width: 20%;
    }
}

@media (min-width: 900px) {
    .img-div {
        width: 16.66%;
    }
}

@media (min-width: 1050px) {
    .img-div {
        width: 14.28%;
    }
}

@media (min-width: 1200px) {
    .img-div {
        width: 12.5%;
    }
}

@media (min-width: 1350px) {
    .img-div {
        width: 11.11%;
    }
}

@media (min-width: 1500px) {
    .img-div {
        width: 10%;
    }
}

@media (min-width: 1650px) {
    .img-div {
        width: 9.09%;
    }
}

@media (min-width: 1800px) {
    .img-div {
        width: 8.33%;
    }
}

@media (min-width: 1950px) {
    .img-div {
        width: 7.69%;
    }
}